# Environment Variables cho PO AI Agent
GROQ_API_KEY=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

# Supabase Credentials (Lấy từ phần Project Settings > API trong Supabase)
SUPABASE_URL=https://zwfpzcxxffjmpkpuhaax.supabase.co/rest/v1/
SUPABASE_KEY=sb_publishable_HV7pi3dZi4SEdD9KUvSUVg_RjSFQwGR
